.emptyCart {
    margin: auto;
    text-align: center;
    height: 50vh;
    display: flex;
    padding: 10vmax;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emptyCart > svg {
    font-size: 5vmax;
    color: var(--color-primary);
}

.emptyCart > p {
    font-size: 2vmax;
}

.emptyCart > a {
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    padding: 1vmax 3vmax;
    cursor: pointer;
    font: 400 1vmax 'Roboto';
    text-decoration: none;
}
.cart {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 4rem;
}

.cart_product-info {
    width: 100%;
    padding: 1rem;
    margin: auto;
    margin-bottom: 10vmax;
    -webkit-box-shadow: 0px 0px 20px -11px rgba(115, 112, 109, 1);
    -moz-box-shadow: 0px 0px 20px -11px rgba(115, 112, 109, 1);
    box-shadow: 0px 0px 20px -11px rgba(115, 112, 109, 1);
    gap: 2rem;
}

.cart-header {
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-primary);
    width: 100%;

    box-sizing: border-box;
    display: grid;
    margin: auto;
    color: white;
    grid-template-columns: 2fr 1fr 1fr;
}

.cart-header > p {
    font-weight: 500;
    margin: 0.5rem;
}

.cart-header > p:last-child {
    text-align: end;
}

.cartContainer {
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.cart-quantity {
    display: flex;
    align-items: center;
    height: 8vmax;
}

.cart-quantity > button {
    border: none;
    background-color: rgba(0, 0, 0, 0.625);
    padding: 0.5vmax;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
}

.cart-quantity > button:hover {
    background-color: rgba(0, 0, 0, 0.725);
}

.cart-quantity > input {
    border: none;
    width: 1vmax;

    padding: 0.5vmax;
    outline: none;
    text-align: center;
    font: 400 0.8vmax 'Roboto';
    color: rgba(0, 0, 0, 0.725);
    font-weight: bold;
}

/* Cart Price Info*/
.cart_price-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid rgb(236, 228, 228);
    width: 100%;
    margin: auto;

    border-radius: 0.25rem;
    -webkit-box-shadow: 0px 0px 20px -11px rgba(115, 112, 109, 1);
    -moz-box-shadow: 0px 0px 20px -11px rgba(115, 112, 109, 1);
    box-shadow: 0px 0px 20px -11px rgba(115, 112, 109, 1);
}
.cart_price-field {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
hr {
    color: rgba(128, 128, 128, 0.266);
}
.cart-field {
    font-weight: bold;
    color: gray;
}

.cart-price {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: black;
    font-size: large;
}

.cart_checkout-btn,
.cart_checkout-btn:active {
    box-sizing: border-box;
    transition: all 300ms ease-in-out;
    background-color: var(--color-primary);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    font-size: large;
    font-weight: 500;
    color: white;
}
.cart_checkout-btn:hover {
    background-color: transparent;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}
.cart-manage {
    display: flex;
    flex-direction: column;
}
.cart-quantity {
    display: flex;
}
.cart_remove-btn {
    margin: 1rem 0;
    color: var(--color-primary);
}
.cartSubtotal {
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .cart {
        grid-template-columns: 1fr;
    }
    .cart_product-info {
        padding: 0;
        margin-bottom: 0;
    }
    .cartPage {
        margin: auto;
        width: 90%;
        padding: 0;
        min-height: 60vh;
    }

    .cartContainer {
        height: 10rem;
        margin-bottom: 0;
    }
    .cart-manage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cart-quantity {
        border: 1px solid var(--color-primary);
        height: auto;
    }

    .cart-quantity > button {
        background-color: var(--color-primary);
        color: white;
        padding: 0.5rem;
        width: 2rem;
        font-size: large;
    }
    .cart-quantity > input {
        font-size: 3vw;
        width: 4vw;
    }
    .cartSubtotal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font: 300 2vmax 'Roboto';
    }
}
