.forgotPasswordContainer {
    width: 700vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(231, 231, 231);
    position: fixed;
    top: 0;
    left: 0;
}

.forgotPasswordBox {

    background-color: white;
    width: 40vw;
    height: 50vh;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: .5vmax;
}

.forgotPasswordBox>h2 {
    margin: 1vmax 2vmax;
}




.forgotPasswordBox>div>button {
    background-color: tomato;
    height: 3px;
    width: 50%;
    border: none;
    transition: all 500ms;
}


.forgotPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax 2vmax;
    gap: 4vmax;
    height: 80%;
    transition: all 500ms;
}



.forgotPasswordForm>div {
    display: flex;
    gap: 1vmax;
    align-items: center;
    width: 100%;
    position: relative;
}

.forgotPasswordForm>div>svg {
    font-size: 2vmax;
    position: absolute;
    left: 1vmax;
}



.forgotPasswordForm>div>input {
    padding: 1vmax 4vmax;
    padding-right: 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.275);
    border-radius: 4px;
    font: 300 1vmax cursive;
    outline: none;
}



.forgotPasswordPImage {
    width: 5vmax;
    aspect-ratio: 1/1;
    background-size: cover;
    border-radius: 50%;
    margin: 0 1vmax 0 0;

}

#forgotPasswordImage>input {
    display: flex;
    padding: 0%;
}



.forgotPasswordBtn {
    border: none;
    background-color: tomato;
    color: white;
    width: 100%;
    font: 400 1.5vmax "Roboto";
    padding: .8vmax;
    border-radius: 4px;
    cursor: pointer;
    transition: all 500ms;

}


.forgotPasswordBtn:hover {
    background-color: rgb(175, 60, 40);

}


.underline {
    padding-bottom: 3px;
    border-bottom: .25vmax solid tomato;

}

@media screen and (max-width:900px) {

    .forgotPasswordContainer {

        background-color: white;
    }

    .forgotPasswordBox {

        width: 70vw;
        height: 90vh;

    }

    .forgotPasswordBox>h2 {
        margin: 4vmax 5vmax;
    }



    .forgotPasswordForm {
        padding: 1vmax 5vmax;
    }


    .forgotPasswordForm>div>input {
        padding: 2vmax 6vmax;
        font: 300 1.8vmax cursive;
    }


    .forgotPasswordForm>div>svg {

        font-size: 3vmax;

    }


    .forgotPasswordPImage {
        width: 8vmax;
        border-radius: 50%;

    }


    .forgotPasswordBtn {
        padding: 1.8vmax;

    }

}