.myAccountContainer {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 90%;
    margin: auto;

}

.myAccountContainer>h3 {

    border-bottom: 2px solid rgba(49, 43, 43, 0.1);
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: normal;
}

.u-name {
    font-size: 1.5rem;

}

.u-email {
    color: gray;
}

.myAccountContainer>h3>span {

    font-weight: 500;
    font-size: 1.5rem;
}

.v-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;


}

.myAccountContainer>div {
    display: flex;
    padding-left: .5rem;
}

.account-sidebar {

    display: flex;

    flex-direction: column;
    gap: 2rem;
    width: 20%;
    padding-left: 1rem;

}


.myAccountContainer>div>div {
    padding-left: 1rem;
}

.p-info-name {
    padding-left: .5rem;
}

.p-info-name>div:first-child {
    font-weight: 500;
}

.account-sidebar>div>img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.li-heading {
    padding: .5vmax;
    font-size: 1.3vmax;
    font-weight: 600;
}

.li-items {
    padding: .5vmax;
    color: rgba(70, 70, 70, 0.9);
    font-weight: 500;
    font-size: 1vmax;
    transition: all 400ms linear;
    cursor: pointer;
}

.li-items:hover {

    transform: translateX(.5vmax);
    scale: 1.05;
    color: tomato;
}

.sidebar-items {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.sidebar-items>div {
    display: flex;
    gap: .5rem;
    flex-direction: column;

}

.sidebar-items>div>h3 {
    font-size: 1.5rem;
}

.personal-info {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    width: 100%;




}

.personal-info>div {
    width: 45%;
    padding: .5rem;
    background-color: rgba(128, 128, 128, 0.10);
    margin: .5rem;
    border-radius: .5rem;
}

.personal-info>div>h4 {
    color: tomato;
    padding: .5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.2rem;
}

.personal-info>div>h4>span {

    font-size: 1.5rem;
}

.personal-info>div>p {
    color: rgb(55, 55, 55);
    padding: 0 .5rem;
    padding-bottom: .5rem;
    font-size: 1.125rem;
}