.nav-container {
    z-index: 99;
    position: sticky;
    left: 0;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: column;

}

.nav-upper {
    padding: .5rem 3rem;
    background-color: rgba(128, 128, 128, 0.10);
    display: flex;
}


.nav-left {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.nav-left>div {
    display: flex;
    gap: .25rem;
    color: gray;
    align-items: center;
    font-size: .8rem;
}

.nav-left span {
    color: tomato;
    font-size: 1.2rem;
}

.nav-right {
    flex: 1;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
}

.nav-right>div {
    display: flex;
    flex-direction: column;
    color: gray;
    font-size: .9rem;
    font-weight: 500;
}

.nav-lower {
    background-color: white;
    padding: 1rem 3rem;
    display: flex;
    /* padding-bottom: 1rem; */

    justify-content: space-between;
    border-bottom: 2px solid rgba(128, 128, 128, 0.1);
}

.nav-l-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-l-left>a {
    font-size: 1.5rem;
    color: tomato;
    font-family: cursive;
}

.nav-l-left>a>span {
    font-weight: 600;
}

.nav-l-right {
    display: flex;
    gap: 2rem;
}

.nav-l-right>a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-in;
}

.nav-l-right>a:hover {
    color: tomato;

}



/* ----------Media Query------- */
@media screen and (max-width:1200px) {
    .nav-upper {
        padding: 3vw;
    }

    .nav-container {
        font-size: 1.5vw;
    }

    .nav-l-left>span {
        font-size: 1.5vw;
    }

    .nav-left>div, .nav-right>div {
        font-size: 1vw;
    }

    .nav-left>div>span {
        font-size: 2vw;

    }


    .nav-l-left, .nav-l-right {
        gap: 1vw;
    }

    .nav-right {

        gap: 1.2vw;
    }

    .nav-lower {
        padding: 4vw;
    }

}