.myOrdersPage {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 4vw 2vw;
}

.greenColor {
    color: rgb(51, 223, 51) !important;
}

.redColor {
    color: red !important;
}

.theading {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 1rem 0;
}

.theading h3,
.tdata h3 {
    min-width: 15rem;
    text-align: center;
}

.tdata {
    width: 95%;

    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid rgba(128, 128, 128, 0.25);

    padding: 1rem 0;
}

.tdata > h3 {
    font-weight: 500;
    color: gray;
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p-id {
    width: 15%;
}

.tdata .p-id {
    color: var(--color-primary);
}

.tdata a {
    color: blue;
    cursor: pointer;
}

.tdata a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .myOrdersPage {
        padding: 0;
        height: 93vh;
    }

    #myOrderHeading {
        font: 400 2.2vmax 'Roboto';
        padding: 4vw;
    }
}
