.product-info-card {

    display: flex;
    /* border: 1px solid rgba(128, 128, 128, 0.5); */
    padding: 2rem;
    gap: 10rem;
    align-items: center;
    justify-content: center;
}

.product-info-image {
    /* height: 32rem; */
    overflow: hidden;

    /* width: 32rem; */

}

.product-info-image>img {
    height: 25rem;
    width: 25rem;

    object-fit: contain;
}


.product-info-info {
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 1.5rem;

}

.product-info-title {
    font-weight: 600;
    font-size: 1.5rem;
}

.product-info-more {
    display: flex;
    justify-content: space-between;
}

.product-info-id {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

#product-info-rating {
    color: black;
    font-weight: bold;
}

.product-info-id>span:first-child {
    color: gray;
    font-size: .9rem;
    font-weight: 500;
    font-size: smaller;

}

.product-info-id>span:last-child {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: rgb(239, 161, 16);
}

.product-info-price {
    display: flex;
    padding-right: 0.5rem;
    flex-direction: column;
}

.product-info-price>span:first-child {
    font-size: .8rem;
    text-decoration-line: line-through;
    font-weight: 500;
    color: gray;
}

.product-info-price>span:last-child {
    font-size: 1.25rem;
    font-weight: 600;
}


.product-info-add-to-cart {
    width: 14rem;
    display: flex;
    justify-content: space-between;
    border-radius: 5rem;

    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.5);
    background-color: 1px solid rgba(128, 128, 128, 0.1);

}

.product-info-add-to-cart>span:last-child {
    font-weight: 500;
    color: white;

}


.product-info-add-to-cart>button {
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: .25rem;
    height: 1.5rem;
    width: 1.5rem;
    background: transparent;
    font-size: 1.25rem;
    color: gray;
    border-radius: 50%;

}

.product-info-cart {
    display: flex;

    align-items: center;
    gap: 2rem;
}

.product-info-cart>div:first-child {
    display: flex;

    font-size: small;
    color: green;
}


.product-info-add-to-cart-btn {
    display: flex;
    margin-left: .25rem;
    padding: 1.2rem 2.2rem;
    background-color: tomato;
    border-radius: 5rem;
    cursor: pointer;

}

.product-info-desc {
    width: 60%;
}

.product-info-desc>span {
    font-weight: 500;
    color: gray;
}

.reviewHeading {
    width: 90%;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.reviews {
    width: 90%;
    margin: auto;
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
}

.reviewCard {
    /* flex: 1; */
    padding: 1rem 3rem;
    margin: 1rem 0;
    border: 1px solid rgba(255, 99, 71, 0.4);
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
}

.reviewCard>div:first-child {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    gap: 1rem;
    margin: .25rem;
}

.reviewCard>div img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}


@media screen and (max-width:768px) {}