.product-h-card {
    width: 70rem;
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 2rem;
}

.product-h-image {
    height: 20rem;
    overflow: hidden;

    width: 20rem;

}

.product-h-image>img {
    height: 17rem;
    width: 15rem;
    object-fit: cover;
}

.product-h-info {
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 1rem;
    /* justify-content: space-between; */
}

.product-h-title {
    font-weight: 600;
    font-size: 1.5rem;
}

.product-h-more {
    display: flex;
    justify-content: space-between;
}

.product-h-id {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

#product-h-rating {
    color: black;
    font-weight: bold;
}

.product-h-id>span:first-child {
    color: gray;
    font-size: .9rem;
    font-weight: 500;
    font-size: smaller;

}

.product-h-id>span:last-child {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: rgb(239, 161, 16);
}

.product-h-price {
    display: flex;
    padding-right: 0.5rem;
    flex-direction: column;
}

.product-h-price>span:first-child {
    font-size: .8rem;
    text-decoration-line: line-through;
    font-weight: 500;
    color: gray;
}

.product-h-price>span:last-child {
    font-size: 1.5rem;
    font-weight: 500;
}


.product-h-add-to-cart {
    width: 8rem;
    display: flex;
    justify-content: space-between;
    border-radius: 5rem;

    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.5);
    background-color: 1px solid rgba(128, 128, 128, 0.1);

}

.product-h-add-to-cart>button {
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: .25rem;
    height: 1.5rem;
    width: 1.5rem;
    background: transparent;
    font-size: 1.125rem;
    color: gray;
    border-radius: 50%;

}

.product-h-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-h-cart>div:first-child {
    display: flex;

    font-size: small;
    color: green;
}


.product-h-add-to-cart-btn {
    display: flex;
    margin-left: .25rem;
    padding: .75rem 1.5rem;
    background-color: tomato;
    border-radius: 5rem;
    cursor: pointer;

}

.product-h-desc {
    width: 75%;
}

.product-h-desc>span {
    font-weight: 500;
    color: gray;
}