.productHeading {
    margin: 2vmax auto;
    width: 95vw;
    padding: 0 3rem;
    font: 600 1.5vmax "Roboto";
}

.products-container {
    width: 95%;

    margin: auto;
    display: flex;
    gap: 4rem;

}

.products-sidebar {
    /* background-color: green; */
    background-color: rgba(128, 128, 128, 0.1);
    width: 20rem;
    height: 100vh;

}

.products-main {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}